<template>
  <div class="container">
    <div class="card">
      <div class="card-content teal white-text">
        <a href="http://mia-cucina.herokuapp.com" class="white-text card-title">Mia cucina</a>
        <i class="material-icons"></i>
        <i class="material-icons secondary-content">cloud_off</i>
      </div>
      <div class="card-content">
        <p for="medium">Temperature</p>
        <input id="high" name="temperature" type="radio" value="high" />
        <label for="high">High</label>

        <input id="medium" name="temperature" type="radio" value="medium" checked="checked" />
        <label for="medium">Medium</label>

        <input id="low" name="temperature" type="radio" value="low" />
        <label for="low">Low</label>
        <p for="medium">Duration</p>

        <div class="range-field">
          <input id="tiempo" type="range" min="1" max="60" name="minutes" value="15" />
        </div>
      </div>
      <div class="card-action">
        <div class="switch">
          <label>Turn off<input id="encender" type="checkbox"><span class="lever"></span>on</label>
        </div>
      </div>
    </div>
  </div>
</template>